<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: head">
</head>

<body>
    <div id="app">
        <header>
            <nav class="d-flex align-items-center justify-content-around">
                <a class="navbar-brand" href="/web/index.html"><img
                        src="https://i.ibb.co/QCnctqM/logo-2020-01-01.png"
                        alt="logo-quinto-impacto"></a>
                <h1 class="fw-bolder">Universidad Quinto Impacto</h1>
                <ul class="navbar-nav flex-row gap-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/web/index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/web/courses.html">Cursos</a>
                    </li>
                    <li class="nav-item" v-if="student.length == 0">
                        <a class="nav-link" href="/web/login-register.html">Registrarse</a>
                    </li>
                    <li class="nav-item" v-if="student.length == 0">
                        <a class="nav-link" href="/web/login-register.html">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item" v-if="student.email == 'admin@admin.com'">
                        <a class="nav-link" href="#" style="opacity: 50%; cursor: auto;">Panel de Admin</a>
                    </li>
                </ul>
                <img class="profile dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                    :src="getProfileImage()" alt="profileImage" v-if="student.length != 0">
                <ul class="dropdown-menu">
                    <li><a href="/web/profile.html" class="dropdown-item" type="button">Mi perfil</a></li>
                    <li><button class="dropdown-item text-danger fw-bold" type="button" @click="logout()">Cerrar
                            Sesion</button></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="d-flex align-items-center justify-content-start container-fluid flex-column flex-wrap">
                <h2 class="text-white fw-bold text-center py-5" style="align-self: start; width: 100%;">Panel de
                    administracion</h2>
                <div class="w-100">
                    <h3 class="text-white text-center" style="width: 100%;">Estudiantes</h3>
                    <form class="d-flex mb-3" role="search">
                        <input class="form-control me-2 w-25" type="search" placeholder="Buscar Estudiante"
                            aria-label="Search" v-model="name" @change="getStudentsByFilter">
                        <div class="form-floating p-0">
                            <select class="form-select" id="floatingSelect" v-model="idCourse" @change="getStudentsByFilter">
                                <option selected value="">Ninguno Seleccionado</option>
                                <template v-for="(course, index) in courses" :key="index">
                                    <option :value="course.id">{{course.title}}</option>
                                </template>
                            </select>
                            <label for="floatingSelect">Selecciona un Curso</label>
                        </div>
                    </form>
                    <table class="table table-light container-fluid">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo Electronico</th>
                                <th scope="col">Foto de Perfil</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Cursos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(student, index) in students" :key="index">
                                <tr>
                                    <td>{{student.id}}</td>
                                    <td>{{student.firstName}}</td>
                                    <td>{{student.lastName}}</td>
                                    <td>{{student.email}}</td>
                                    <td><a :href="student.profileImage" target="_blank" rel="noopener noreferrer">Ver
                                            foto</a></td>
                                    <td>{{student.active}}</td>
                                    <td>{{student.coursesStudentsTitle}}</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <div class="w-100">
                    <h3 class="text-white text-center" style="width: 100%;">Profesores</h3>
                    <table class="table table-light container-fluid">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo Electronico</th>
                                <th scope="col">Foto de Perfil</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Cursos</th>
                                <th scope="col">Eliminar Curso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(teacher, index) in teachers" :key="index">
                                <tr>
                                    <td>{{teacher.id}}</td>
                                    <td>{{teacher.firstName}}</td>
                                    <td>{{teacher.lastName}}</td>
                                    <td>{{teacher.email}}</td>
                                    <td><a :href="teacher.profileImage" target="_blank" rel="noopener noreferrer">Ver
                                            foto</a></td>
                                    <td>{{teacher.active}}</td>
                                    <td>{{teacher.coursesDTO.map(coursesDTO => coursesDTO.title)}}</td>
                                    <td>
                                        <div @click="teacherSelected(teacher.id)">
                                            <button type="button" class="btn" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal1">
                                                <i class="uil uil-trash-alt"></i>
                                            </button>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal1" tabindex="-1"
                                            aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="modal-title fs-5" id="exampleModalLabel1">Seleccione
                                                            el curso que quiere eliminar</h2>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <select class="form-select" id="floatingSelect"
                                                            v-model="removeCourseID">
                                                            <option class="text-dark" selected disabled>Elije un curso
                                                            </option>
                                                            <template v-for="course in removeCoursesDTOTeacherSelected">
                                                                <option :value="course.id">{{course.title}}</option>
                                                            </template>
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancelar</button>
                                                        <button type="button" @click="removeCourse()"
                                                            class="btn btn-primary"
                                                            data-bs-dismiss="modal">Confirmar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                    <h3 class="text-white text-center" style="width: 100%;">Cursos</h3>
                    <button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal3">Crear Curso</button>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title fs-5" id="exampleModalLabel3">Complete los datos del nuevo
                                        curso</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div
                                        class="d-flex justify-content-center align-items-center flex-column flex-wrap gap-3">
                                        <input placeholder="Titulo" class="input1 text-dark" type="text" v-model="title">
                                        <input placeholder="Descripcion" class="input1 text-dark" type="text" v-model="description">
                                        <input placeholder="Categoria" class="input1 text-dark" type="text" v-model="category">
                                        <div class="form-floating p-0">
                                            <select class="form-select" id="floatingSelect2" v-model="shift">
                                                <option selected value="">Ninguno Seleccionado</option>
                                                <option value="MAÑANA">Mañana</option>
                                                <option value="TARDE">Tarde</option>
                                                <option value="NOCHE">Noche</option>
                                            </select>
                                            <label for="floatingSelect2">Selecciona un Turno</label>
                                        </div>
                                        <div class="container">
                                            <label for="file" class="footer">
                                                <svg fill="#000000" viewBox="0 0 32 32"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                        <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                    </g>
                                                </svg>
                                                <p v-if="!image" class="mb-0">No selecciono ninguna imagen</p>
                                                <p v-else class="mb-0">Imagen Seleccionada</p>   
                                            </label>
                                            <form id="courseImage" enctype="multipart/form-data">
                                                <input id="file" name="file" type="file" accept=".png, .jpg, .jpeg" @change="this.image = true">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" @click="createCourse()" class="btn btn-primary"
                                        data-bs-dismiss="modal">Crear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-light container-fluid">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Turno</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Profesor</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Desactivar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(course, index) in courses" :key="index">
                                <tr>
                                    <td>{{course.id}}</td>
                                    <td>{{course.title}}</td>
                                    <td>{{course.description}}</td>
                                    <td>{{course.shift}}</td>
                                    <td><a :href="course.coverPage" target="_blank" rel="noopener noreferrer">Ver
                                            foto</a></td>
                                    <td>{{course.category}}</td>
                                    <td>{{course.enabled}}</td>
                                    <td>{{course.teacherFullName}}</td>
                                    <td>
                                        <div @click="courseSelected(course.id)">
                                            <button type="button" class="btn" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal2">
                                                <i class="uil uil-pen"></i>
                                            </button>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal2" tabindex="-1"
                                            aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="modal-title fs-5" id="exampleModalLabel2">Seleccione
                                                            un Profesor</h2>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <select class="form-select" id="floatingSelect"
                                                            v-model="changeTeacherSelected">
                                                            <option class="text-dark" selected disabled>Elije un
                                                                profesor</option>
                                                            <template v-for="teacher in teachers">
                                                                <option :value="teacher.id">{{teacher.firstName + " " +
                                                                    teacher.lastName}}</option>
                                                            </template>
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancelar</button>
                                                        <button type="button" @click="changeTeacher()"
                                                            class="btn btn-primary"
                                                            data-bs-dismiss="modal">Confirmar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div @click="disableCourse(course.id)">
                                            <button type="button" class="btn">
                                                <i class="uil uil-trash-alt"></i>
                                            </button>
                                        </div>
                                    </td>

                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer th:replace="template.html :: footer">

        </footer>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:replace="template.html :: logged"></script>
    <script th:src="@{/assets/js/admin.js}"></script>

</body>

</html>